<div class="conteiner">

</div>

    <div class="row">
        <div class="col-6 bg-info">
            <label class="form-label">
                Waga [kg]
                <input type="number" placeholder=" " class="form-control" [(ngModel)] ="waga">
            </label><br>

              <label class="form-label">
                Wzrost [m] 
                <input type="number" placeholder=" " class="form-control" [(ngModel)] ="wzrost">
              </label>
        </div>

        <div class="col-3">
            <button (click)="oblicz()" class="btn btn-success" >oblicz</button>
        </div>

        <div class="col-3 bg-success-subtle">
            <img src="bmi_wzor.png" width="200px">
            <p >Twoja waga: {{waga}}kg</p>
            <p >Twój wzrost: {{wzrost}}m</p>
            <p>Twoje Bmi: {{bmi}}</p>
        </div>
    </div>


    




